.header{
    font-size: 25px;
    background-color: whitesmoke;
}
canvas{
    border: 1px solid black;
    border-radius: 20px;
    box-shadow: 2px 2px 20px grey;
}
button{
    background-color: rgb(255, 130, 255);
    box-shadow: 2px 2px 20px rgb(255, 130, 255);
}
button:hover{
    background-color: black;
    box-shadow: 2px 2px 20px black;
    color: rgb(255, 130, 255) !important;
}
